@import url(https://fonts.googleapis.com/css?family=Anton|Cuprum|Francois+One|Oswald|Roboto|Yanone+Kaffeesatz);@font-face {
  font-family: UTMAVO;
  src: url("../fonts/utm-avo.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: UTMAVO !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active {
  text-decoration: none !important;
}

img {
  width: 100%;
}

.card {
  border: none;
  background-color: inherit;
  border-radius: 0;
}

.card .card-body {
  padding: 0;
}

.card .card-footer {
  padding: 0;
  background-color: inherit;
  border: none;
}

.callback {
  position: fixed;
  left: -30px;
  bottom: -20px;
  z-index: 100;
}

.phone_animation {
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  transition: visibility .5s;
  visibility: visible;
  margin: 0 auto;
}

.phone_animation a {
  color: white;
}

.phone_animation_circle {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.5;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
          animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-color: #00aff2;
}

.phone_animation_circle_fill {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: #00aff2;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .2;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
          animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.phone_animation_circle_fill_img {
  background-size: 70%;
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  position: absolute;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
          animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background-color: #00afef;
  text-align: center;
  line-height: 60px;
  color: #FFF;
  font-size: 30px;
  display: block;
}

@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: .1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: .5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: .1;
  }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

.m-category-layout {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.m-category-layout .m-item-category {
  -ms-flex-preferred-size: 160px !important;
      flex-basis: 160px !important;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.m-category-layout .m-item-category .img-category {
  height: 88px;
  width: 88px;
  margin: auto auto 12px;
  border-radius: 50%;
  margin-top: 20px;
}

.m-category-layout .m-item-category .m-item-category-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.m-category-layout .m-item-category .m-item-category-0 a {
  text-align: center;
}

.m-category-layout .m-item-category .m-item-category-0 a span {
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .m-category-layout {
    margin-top: 30px;
  }
}

/* Sidebar
-----------------------------------------------------------------------------------------*/
.menusign {
  display: block;
  width: 10px;
  line-height: .3;
  font-size: 2em;
  margin: .5em;
}

.menusign br {
  height: 0;
}

.sidebar {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: white;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s, -webkit-box-shadow 0.3s ease 0.2s;
  -webkit-box-shadow: 0.5em 0 0 0 #f2b142, 0.6em 0 0 0 #f2b142;
  box-shadow: 0.5em 0 0 0 #f2b142, 0.6em 0 0 0 #f2b142;
}

.sidebar.closed {
  left: -260px;
  -webkit-box-shadow: 0 0 0 #1ba8ff;
  box-shadow: 0 0 0 #1ba8ff;
}

.sidebar h2 {
  padding: .5em;
  color: #1abc9c;
}

.sidebar ul {
  padding: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0;
}

.sidebar ul li {
  width: 90%;
  margin: 5px 10px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bolder;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 16px;
  line-height: 1.8;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #f3f3f3;
}

.sidebar .sidebar-sub-heading {
  border-top: 1px solid #e0e0e0;
  color: #757575;
  display: block;
  padding: 16px;
  font-size: 16px;
  font-weight: bolder;
}

.sidebar .sidebar-hotline {
  font-size: 16px;
  font-weight: bolder;
  padding: 16px;
  color: #757575;
}

.sidebar .sidebar-hotline .sidebar-number {
  color: #1ba8ff;
}

.sidebar .icon-sidebar {
  width: 56px;
}

.sidebar ul li a {
  color: #757575;
  text-decoration: none;
}

.sidebar .background-sidebar {
  background-image: url(../images/logo/logo_footer.png);
  height: calc(56px*4);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: white;
}

.footer a {
  color: #17a689;
}

/* Blurred class

This class is added to the container
(#blurMe) when the sidebar is open.
-----------------------------------*/
.blurred {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Logo effect
-----------------------------*/
@-webkit-keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

@keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

.area-right {
  background-color: #0880c1;
  padding: 20px;
}

#form-search label {
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

#form-search input {
  border-radius: inherit;
}

#form-search select {
  border-radius: inherit;
}

#form-search button#btn-search {
  border: none;
  padding: 15px;
  background-color: #1abc9c;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#menu #menu-top i {
  font-size: 68px;
}

#menu #menu-top span.slogan {
  font-size: 36px;
}

#menu #menu-top ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

#menu #menu-top ul li {
  font-size: 22px;
  padding-right: 13px;
}

#menu #menu-top ul li i {
  font-size: 26px;
}

#menu #menu-bottom {
  background-color: #0880c1;
}

#menu #menu-bottom ul.main-menu {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#menu #menu-bottom ul.main-menu li a {
  padding: 15px;
  color: white;
  display: block;
}

#menu #menu-bottom ul.main-menu li a:hover {
  background-color: #0092dc;
}

#menu #menu-bottom ul.main-menu li.li-has-item-down {
  position: relative;
}

#menu #menu-bottom ul.main-menu li.li-has-item-down ul.sub-menu {
  position: absolute;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #0880c1;
  opacity: 0;
  z-index: 9;
  list-style: none;
  width: 200%;
}

#menu #menu-bottom ul.main-menu li.li-has-item-down ul.sub-menu li a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu #menu-bottom ul.main-menu li.li-has-item-down ul.sub-menu li a:hover {
  padding-left: 20px;
}

#menu #menu-bottom ul.main-menu li.li-has-item-down:hover ul.sub-menu {
  opacity: 1;
}

#h_product h3.title {
  font-size: 21px;
  text-transform: uppercase;
  color: #0880c1;
  border-bottom: 1px solid #d9dcdd;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-weight: bold;
}

#h_product .one-product {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border-bottom: solid 2px #5CBE6D;
}

#h_product .one-product img.img-one-product {
  height: 210px;
}

#h_product .one-product h2.title {
  padding: 20px 20px 15px;
}

#h_product .one-product h2.title a {
  display: block;
  color: #1abc9c;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.5;
}

#h_product .one-product .info {
  margin-top: 5px;
  padding: 10px;
}

#h_product .one-product .info ul.info-top {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  padding: 0px 20px 15px;
}

#h_product .one-product .info ul.info-top li {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
}

#h_product .one-product .info ul.info-top li i {
  color: #1abc9c;
  padding-right: 10px;
}

#h_product .one-product .info .info-bottom {
  color: black;
  padding: 0px 20px 15px;
}

#h_product .one-product .info .info-bottom i {
  color: #1abc9c;
  padding-right: 10px;
}

#h_product .one-product:hover {
  -webkit-box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
          box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
}

#s_info {
  margin-top: 20px;
}

#s_info .one-product {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  margin-bottom: 30px;
}

#s_info .one-product img.img-one-product {
  height: 300px;
}

#s_info .one-product .info h3 {
  margin: 10px 0px 3px 0px;
  font-size: 20px;
  text-transform: capitalize;
}

#s_info .one-product .info p.address {
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 10px 10px 0;
  margin-right: 20px;
}

#s_info .one-product .info p.description {
  margin-top: 20px;
  display: block;
}

#s_info .one-product .info .more-info {
  bottom: 0;
  border-top: 1px solid #e1e1e1;
  padding: 10px;
  margin-right: 20px;
}

#s_info .one-product:hover {
  -webkit-box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
          box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
}

#s_sidebar {
  margin-top: 20px;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#s_sidebar h3 {
  font-size: 20px;
  border-bottom: 1px solid #e1e1e1;
  text-transform: capitalize;
  padding-bottom: 20px;
}

#s_sidebar #form-search {
  margin-top: 20px;
}

#s_sidebar #form-search label {
  margin-bottom: 10px;
  color: black;
  font-weight: normal;
}

#p_detail_topinfor {
  display: none;
  font-size: 18px;
  padding: 10px;
  color: white;
}

.ttnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.ttnav li {
  float: left;
  padding-right: 8px;
}

.ttnav li::before {
  content: ' ';
  width: 3px;
  margin-right: 6px;
  background-color: #0f648b;
  padding-left: 6px;
}

.ttnav li a {
  font-weight: bold;
  font-size: 17px;
  color: #0f648b;
}

.ttnav li:last-child::before {
  content: '';
  width: 3px;
  margin-right: 6px;
  background-color: #61b7e4;
  padding-left: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th, table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#uspost li {
  color: #007bff;
  font-size: 15px;
}

#uspost li .fas {
  font-size: 18px;
}

.fabs a i {
  font-size: 22px;
  padding: 3px;
  padding-left: 10px;
}

.fabs a:hover {
  color: #083b58;
  text-decoration: none;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #083b58;
  color: white;
}

.fontbds {
  font-size: 18px;
}

.bdbdslq::before {
  content: ' ';
  width: 20px;
  border-left: 5px solid #0d7eb2;
  margin-top: 20px;
  padding-left: 10px;
}

.border-colorbds {
  border: 1px solid #9e9f9f;
}

.bg-dprimary {
  background-color: #083b58;
}

/* Style the buttons inside the tab */
.tab button {
  color: white;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #064866;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #064866;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#p_Detail_img_avatar {
  width: 100%;
  height: 98px;
  border: 2px solid #083b58;
}

@media screen and (max-width: 768px) {
  #p_Detail_img_avatar {
    height: auto;
  }
  #p_detail_topinfor {
    display: block;
  }
  table {
    margin-top: 10px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.contslider {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 15px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
