@import url('https://fonts.googleapis.com/css?family=Anton|Cuprum|Francois+One|Oswald|Roboto|Yanone+Kaffeesatz');

#p_detail {

}

#p_detail_topinfor {
  display: none;
  font-size: 18px;
  padding: 10px;
  color: white;

}

.ttnav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
  }
  li {
    float: left;
    padding-right: 8px;
    &::before {
      content: ' ';
      width: 3px;
      margin-right: 6px;
      background-color: #0f648b;
      padding-left: 6px;
    }

    a {
      font-weight: bold;
      font-size: 17px;
      color: #0f648b;
    }
    &:last-child {

      &::before {
        content: '';
        width: 3px;
        margin-right: 6px;
        background-color: #61b7e4;
        padding-left: 5px;
      }

    }

  }

}

table {
  th, td {

    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  border-collapse: collapse;
  width: 100%;
}

#uspost {
  li {
    .fas {
      font-size: 18px;
    }

    color: #007bff;
    font-size: 15px;
  }
}

.fabs {
  a {
    i {
      font-size: 22px;
      padding: 3px;
      padding-left: 10px;
    }
    &:hover {
      color: #083b58;
      text-decoration: none;
    }
  }
}

/* Style the tab */
.tab {
  overflow: hidden;
  //border: 1px solid #ccc;
  //background-color: #083b58;
  color: white;
}

.fontbds {

  font-size: 18px;
}

.bdbdslq {

  &::before {
    content: ' ';
    width: 20px;
    border-left: 5px solid #0d7eb2;
    margin-top: 20px;
    padding-left: 10px;
  }
}

.border-colorbds {
  border: 1px solid #9e9f9f;
}

.bg-dprimary {
  background-color: #083b58;
}

/* Style the buttons inside the tab */
.tab button {
  color: white;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #064866;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #064866;
}

/* Style the tab content */
.tabcontent {
  display: none;
  //padding: 6px 12px;
  //border: 1px solid #ccc;
  border-top: none;
}

#p_Detail_img_avatar {
  width: 100%;
  height: 98px;
  border: 2px solid #083b58;
}

.product-info {
  .one-product {
    transition: all 0.2s;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    margin-bottom: 30px;
    img.img-one-product {
      height: 300px;
      width: 100%;
    }
    .info {
      h3 {
        margin: 10px 0px 3px 0px;
        font-size: 20px;
        text-transform: capitalize;
      }
      p.address {
        border-bottom: 1px solid #e1e1e1;
        padding: 10px 10px 10px 0;
        margin-right: 20px;
      }
      p.description {
        margin-top: 20px;
        display: block;
      }
      .more-info {

        bottom: 0;
        border-top: 1px solid #e1e1e1;
        padding: 10px;
        margin-right: 20px;

      }

    }
    &:hover {
      box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
    }
  }
}

@media screen and(max-width: 768px) {

  #p_Detail_img_avatar {
    height: auto;
  }

  #p_detail_topinfor {
    display: block;
  }

  table {
    margin-top: 10px;
  }
}