/* Style the tab */
.tab {
  overflow: hidden;
  border-top: 1px solid #ccc;
  /*border-bottom: none;*/
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  min-width: 20%;
  width: auto;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  text-transform: uppercase;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: relative;
}

.tab button i {
  font-size: 33px;
}


/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: white;
  border-bottom: none !important;
  color: #007bff;
}

.tab button.active i {
  color: #007bff;
}

/* Style the tab content */
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 16px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  border: 1px solid #ccc;
  border-top: none;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .tab button {
    width: 100%;
  }
}